@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

For Cards
:root {
  --color-grey-primary: #f0f0f0;
  --color-yellow-primary: goldenrod;   
  --color-orange-primary: darkorange;
  --color-green-primary: mediumseagreen;
}
 
html{
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
/*Home Page*/

/* For Registration Page*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  scroll-behavior: smooth;
  color: black;
}

body {
  
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white;
  width: 100%;
  
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ring {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.ring i {
  position: absolute;
  inset: 0;
  border: 2px solid black;
  transition: 0.5s;
}
.ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}
.ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}
.ring:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.login {
  position: relative;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.login h2 {
  font-size: 2em;
  color: black;
}
.inputBx {
  position: relative;
  width: 100%;
}
.inputBx input {
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid black;
  border-radius: 40px;
  font-size: 1.2em;
  color:black;
  box-shadow: none;
  outline: none;
}
.inputBx input[type="submit"] {
  width: 100%;
  background: #0078ff;
  background: linear-gradient(45deg, #ff357a, #fff172);
  border: none;
  cursor: pointer;
}
button {
  width: 100%;
  background: #0078ff;
  background: linear-gradient(45deg, #ff357a, #fff172);
  border: none;
  cursor: pointer;
}
.inputBx input::placeholder {
  color: black;
}
.links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.links a {
  color: black;
  text-decoration: none;
} 




/*For login page*/

.login-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;   
}

/*For Register page*/


label{
  font-size: 20px;
}


.form image{
  height:100px;
  width:100px;
}
.register-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;   
}

.Forgot-password{
  display: flex;
  justify-self: center;
  
}
.register-user-type{
  display: flex;
  padding: 2%;
  width: 100%;
  height: 50%;
  justify-content: space-around;
}

.register-buttons{
  display: flex;
  padding: 2%;
  width: 100%;
  height: 100%;
  justify-content: space-around;

}


.Bx
{
  background: linear-gradient(45deg, #ff357a, #fff172);
  font-size: 13px;
}

/*For Cards in User component*/
.parent{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  margin: auto; 
  padding: 2rem;
}
.productList{
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  height: 500px;
  width: 300px;
}

.productCard{
  position: relative;
  background-color: var(--color-grey-primary);
  margin: 1rem;
  flex: 1 0 25rem;
  max-width: 30rem;
  max-height: 50rem;
  transition: 0.2s;
}

.productCard:hover{
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}

.productImage{
  margin-top: 4rem;
  width: 180px;
  height: 240px;
  max-width: 80%;
  max-height: 50%;
}

.productCard__cart{
  position: absolute;
  right: 0;
  margin: 1rem;
  font-size: 2rem;
  transition: 0.2s;
  cursor: pointer;
}

.productCard__wishlist{
  position: absolute;
  right: 3rem;
  margin: 1rem;
  font-size: 2rem;
  transition: 0.2s;
  cursor: pointer;
}

.productCard__fastSelling {
  position: absolute;
  font-size: 2rem;
  left: 0;
  margin: 1rem;
  fill: var(--color-orange-primary);
}

.productCard__content {
  margin: 2rem;
}

.productName{
  font-size: 1.5rem;
}

.displayStack__2{
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*For Post Page*/
.post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  height: 300px;
  width: 300px;
  gap: 10%;
  margin-bottom: 50%;
  
}

/*For User Page Cards*/

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set minimum height to full viewport height */
}

.content {
  flex: 1; /* Grow to fill remaining space */
}

.footer {
  
  padding: 2%;
  border: 1px solid black;
  
}


/*Header-navbar*/
active{
  background-color: #1d4ed8;
}
.header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
  color: white;
  position: sticky;
  top: 0;
}

nav .title {
  font-size: 20px;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  height: 50px;
}

nav ul {
  display: flex;
  font-size: 20px;
}

nav ul li {
 list-style: none; 
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
  background-color:#172554 ;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}





/* .footer{
  display: flex;
  flex-direction: column;
  justify-content: end;

  padding-top: 5%;
  border: 1px solid black;
} */

/*Contact Form*/

.contact-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; 
  margin: auto; 
  padding: 2rem;
  border: 1px solid black;
}


/*This is for the home page */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage{
  padding-top: 15%;
}
:root{
  --red: #F26419;
  --orange: #F6AE2D;
  --dark-blue: #33658A;
  --light-blue: #86BBD8;
  --dark: #2F4858;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* align container */
.container__center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center__row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align__left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h1{
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 2px;
  color: var(--dark);
}

p{
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 22px;
  margin: 2rem 0;
  color: var(--dark);
}

a{text-decoration: none;}

ul li{list-style: none;}

/* LANDING AREA =============*/
#landing__area{
  width: 100%;
  height: 70vh;
  background: url(imgs/bg.jpg);
  background-position: center;
  background-size: cover;
}

#landing__area nav{
  height: 10%;
  width: 80%;
}

nav .logo{
  color: var(--orange);
}

nav a{
  color: var(--light-blue);
  margin: 0 20px;
}
nav a:hover{color: var(--orange);}

.landing__content {
  height: 90%;
  width: 80%;
}

.landing__content .landing__info{
  width: 60%;
  height: 100%;
}

.landing__info h1{color: var(--light-blue);}
.landing__info p{
  color: var(--light-blue);
  width: 60%;
}

.landing__info button{
  border: none;
  background: transparent;
  outline: none;
}

.landing__info button:active{
  transform: translateY(2px);
} 

.landing__info a{
  color: var(--dark-blue);
  background-color: var(--orange);
  padding: 10px 20px;
  border-radius: 20px;
  text-transform: uppercase;
}

.image__pet{
  width: 40%;
  height: 100%;
  background: url(imgs/pet_img.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* HELP SECTION =========*/
#help{
  width: 80vw;
  max-width: 1200px;
  margin: 3rem auto;
}

.help__cards--container{
  padding: 2rem;
  padding-bottom: 10%;
}

#help .help__card{
  position: relative;
  margin: 0 5%;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  padding: 60px 10px;
}

.help__card:first-of-type{background-color: var(--red);}
.help__card:nth-of-type(2){background-color: var(--orange);}
.help__card:nth-of-type(3){background-color: var(--light-blue);}

.help__card h3,
.help__card p{ color: white;}

.help__card span{
  position: absolute;
  top: 5%;
  left: 0;
  background: white;
  padding: 5px;
  color: var(--red);
}

.help__card:first-of-type span{color: var(--red);}
.help__card:nth-of-type(2) span {color: var(--orange);}
.help__card:nth-of-type(3) span {color: var(--light-blue);}

.help__card .card__link{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 99;
  opacity: 0;
}

.help__card:hover .card__link{
  animation: showLink;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes showLink{
  0%{
      opacity: 0;
      height: 0;
  }
  100%{
      opacity: 1;
      height: 100%;
  }
}

.card__link a{
  background-color: var(--dark-blue);
  color: var(--orange);
  padding: 10px 20px;
  border-radius: 20px;
}


/* GALLERY =============*/
#gallery{
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 33%);
  margin: 2rem 0;
}

.img__gallery{
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}


#img-1{grid-column: 1/3; grid-row:1/3;}
#img-2{grid-column: 1/2; grid-row:3/4;}
#img-3{grid-column: 2/3; grid-row:3/4;}
#img-4{grid-column: 3/4; grid-row:1/2;}
#img-5{grid-column: 3/4; grid-row:2/4;}
#img-6{grid-column: 4/6; grid-row:3/4;}
#img-7{grid-column: 4/5; grid-row:2/3;}
#img-8{grid-column: 4/6; grid-row:1/2;}
#img-9{grid-column: 5/6; grid-row:2/3;}

/* CONTACT FORM */
form{
  padding-top: 10%;
  width: 20vw;
  max-width: 800px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

form .form__row{
  width: 100%;
  position: relative;
}

.form__row input{
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: solid 1px var(--light-blue);
  outline: none;
}
/* hide arrows form input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}


.form__row label{
  position: absolute;
  bottom: 2px;
  left: 2px;
  color: var(--red);
  font-size: 14px;
  transition: 0.5s;
}

input:focus ~ label{
  top: -5px;
  font-size: 10px;
  color: var(--dark-blue);
}

textarea{
  width: 100%;
  height: 30px;
  margin-top: 1rem;
  border: none;
  border-bottom: 1px solid var(--light-blue);
  outline: none;
  appearance: none;
  resize: none;
}

textarea::placeholder{
  color: var(--dark-blue);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* FOOTER
footer{
  background-color: var(--orange);
}

.footer__cont{
  width: 60%;
  margin: auto;
}

.footer__cont p{
  color: var(--dark-blue);
}

.footer__cont .fab{
  color: var(--light-blue);
  font-size: 20px;
  margin: 0 10px;
} */

